<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<!--<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Admin</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let l of navigate" auto-hide="true">
        <ion-item routerLink="/admindashboard" routerDirection="forward">
          <ion-icon name="home" slot="start"></ion-icon>
          Dashboard
        </ion-item>
        <ion-item routerLink="/userregister" routerDirection="forward">
          <ion-icon name="contacts" slot="start"></ion-icon>
          User
        </ion-item>
        <ion-item routerLink="/" routerDirection="forward">
          <ion-icon name="logout" slot="start"></ion-icon>
          Logout
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>-->
<ion-content>
  
</ion-content>

