ion-content {
  --background: #F5F5F5;
}

ion-toolbar {
  --background: #c99e00;
}

ion-title {
  color: #ffffff;
  text-align: center;
}


.announcementlist {
  height: 50%;
}

ion-scroll {
  --height: 80px;
}

ion-list {
  background: #F5F5F5;
}
