<ion-header>
  <ion-toolbar>
    <ion-title>iCommerce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Thanks for signing up.</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="itemreg">
        <ion-label >We'll send you an email within 24 hours to confirm your registration. </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="btnphoto" (click)="home()">
          Home
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
